<div class="main-skills-container" style="text-align: center;">
    <h2>My Skills</h2>
    <div class="clr-col-12 clr-col-sm-4 skill-container" style="display: flex; flex-wrap: wrap; margin-bottom: 2em;">
        <div class="card" *ngFor="let skill of skills" style="height: 6em; margin-right: 2em; flex: 1 1 180px; text-align: left;">
            <div class="card-block">
                <div class="progress top success">
                    <progress value="{{skill.confidenceLevel}}" max="10"></progress>
                </div>
                <h4 class="card-title">{{skill.name}}</h4>
            </div>
        </div>
    </div>
</div>
