<div class="container">
    <h1>Metric Monitoring</h1>
    <hr>
    <div class="logo">
        <img src="../../assets/metric-monitor-blog-photos/pexels-lorenzo-241544.jpg" alt="graph" style="width: 500px;">
    </div>
    <h3 id="heading">TL;DR</h3>
    <div class="tldr">
        <p><span>What:</span> An python application that utilizes pulp to solve complex optimization problems</p>
        <p><span>Why:</span> Use a tool to easily generate constraints, objective, and variables for any given optimization problem</p>
        <p><span>How:</span> Using Python, PulP, and Visual Studio Code</p>
    </div>
    <h3 id="heading">Introduction</h3>
    <div class="intro">
        
    </div>

    <h3 id="heading">Code Samples</h3>
    <div class="code">
        
    </div>

    <h3 id="heading">UI Demo</h3>
    <div class="ui">
       
    </div>
</div>






