<div class="container">
    <h1>Automation for the win</h1>
    <hr>
    <div class="logo">
        <img src="../../assets/bash-script-blog-photos/bash-logo.jpg" alt="bash logo" style="width: 500px;">
    </div>
    <h3 id="heading">TL;DR</h3>
    <div class="tldr">
        <p><span>What:</span> Bash script that automates tasks by running a single command</p>
        <p><span>Why:</span> Reduce time it takes to complete mundane tasks</p>
        <p><span>How:</span> Using using bash and a simple script file</p>
    </div>
    <h3 id="heading">The Mundane</h3>
    <div class="mundane">
        <p >
             At the beginning of a new day when opening up my PC to start working on homework, personal projects, playing games, or just
             experimenting and learning I am always doing the following things:
        </p>
        <ul>
            <li>Open Edge</li>
            <li>Open Outlook for personal/work emails</li>
            <li>Open Visual Studio and VS Code for developing</li>
            <li>Open the terminal (Windows terminal with Powershell and Ubuntu tabs</li>
        </ul>
        <p>
            With this list comes some overhead and time. And I wouldn't be considered a programmer if I didn't spend hours
            trying to automate something that will save me a few minutes. But lets look at the big picture
        </p>
        <h4>Justification</h4>
        <p>
            Lets just say that each one of those tasks above takes about <span>5 seconds.</span> This would mean that it accumulates to
            about <span>25+ minutes</span> each morning on these tasks. I use, on average, my PC about <span>26 days a month</span> which means I am spending
            around <span>11 minutes</span> a month on these tasks. Even more so, I am spending just over <span>2 hours</span> a year on these tasks. Seems
            like a pretty good reason to automate something if I do say so myself! 
        </p>
    </div>

    <h3 id="heading">How'd I Do It?</h3>
    <div class="how" style="text-align: center;">
        <h4>Intro</h4>
        <p style="text-align: left;">
            I am currently running Windows on my PC. I am aware that windows has Powershell (which I use fairly often) that allows admins to
            do admin stuff on the machine. I chose Bash because I noticed lots of companies are looking for developers who have some experience
            using bash shell. On top of this, Bash is open-source and has a large community and there isn't as steep of learning curve. So I had
            get Bash on my Windows machine which I did using <a href="https://hackernoon.com/how-to-install-bash-on-windows-10-lqb73yj3">THIS TUTORIAL</a>.
        </p>
        <h4>The Script</h4>
        <p style="text-align: left;">
            Actually getting these tasks automated took a little more time than I was expecting. I had to figure out where the executables were
            for each task. It took many different tries to finally come up with something that worked. So here it is:
        </p>

        <img src="../../assets/bash-script-blog-photos/script.png" alt="code" style="width: 800px;">

        <h4>The Results</h4>
        <p style="text-align: left;">
            The final results are just as expected...AUTOMAZING! It take about 5 seconds for all of them to boot up and open (which would take
            me about the same time to open one!). 
        </p>
        <img src="../../assets/geolocation-blog-photos/markers.png" alt="code" style="width: 250px;">
    </div>
</div>





