<!-- <header style="background-color: #335171;" class="header-6">
    <div class="branding">
        <a href="" class="nav-link">
            <clr-icon  style="color: white;"shape="home"></clr-icon>
            <span style="font-size: x-large;" class="title">Zachary Reiss</span>
        </a>
    </div>
    <div class="header-nav">
        
        
        
    </div>
</header> -->
<div class="main-container">
    <div class="content-container">
        <div style="padding: 0;" class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>    
</div>