<header class="header-7">
    <div class="branding">
        <a href="" class="nav-link">
            <clr-icon shape="home" style="color: white;"></clr-icon>
            <span class="title">Zachary Reiss</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="zr-resume" class="nav-link"><span class="nav-text">Resume</span></a>
        <a href="zr-skills" class="nav-link"><span class="nav-text">Skills</span></a>
        <a href="zr-skills-in-development" class="nav-link"><span class="nav-text">Developping skills</span></a>
        <a href="zr-blog-posts" class="nav-link"><span class="nav-text">Blog Posts</span></a>
    </div>
</header>
<div class="main-container">
    <div class="content-container">
        <div style="padding: 0;" class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>    
</div>