<header class="header-6">
    <div class="branding">
        <a href="" class="nav-link">
            <clr-icon  style="color: white;"shape="home"></clr-icon>
            <span style="font-size: x-large;" class="title">Zachary Reiss</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="..." class="active nav-link"><span class="nav-text">Dashboard</span></a>
        <a href="..." class="nav-link"><span class="nav-text">Resume</span></a>
        <a href="skills" class="nav-link"><span class="nav-text">Skills</span></a>
        <a href="..." class="nav-link"><span class="nav-text">Developping skills</span></a>
    </div>
</header>
<div class="main-container">
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>    
</div>