.name .statement {
    text-align: center;
}
.name {
    font-size: 2.25em;
    color: white;
    font-weight: 700;
}
.statement{
    margin-top: 0;
    font: 1.5em;
    color: white;
}
p{
    display: inline;
    margin-right: 1em;
    color: #335171;
}
a{
    color: white;
}
.main-banner{
    text-align: center;
    padding-top: .5em;
    padding-bottom: 1em;
    background-color: #4d97f1;
}
.contact-container{
    margin-top: 2em;
}
hr {
    margin: 15px auto 25px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 4px;
    color: white;
}