<div class="main-banner">
    <h1 class="name">Zachary Reiss</h1>
    <h3 class="statement">Software Engineer</h3>
    <div class="contact-container">
        <p>
            LinkedIn Id:
            <a href="https://www.linkedin.com/in/zachary-reiss-44ab23153/">Zachary Reiss</a>
        </p>
        <p>
            Email:
            <a href = "mailto: zachreisssoftwaredev@gmail.com">zachreisssoftwaredev@gmail.com</a>
        </p>
    </div>
</div>
<div class="skill-container">
    <h2 class="title">My Skills</h2>
    <app-skills-list></app-skills-list>
</div>
<div class="to-get-skill-container">
    <h2 class="title">Developping Skills</h2>
    <app-to-get-skills-list></app-to-get-skills-list>
</div>
<div class="to-get-skill-container">
    <h2 class="title">Unprioritized Skills</h2>
    <app-not-skills-list-unprioritized></app-not-skills-list-unprioritized>
</div>
<div class="resume-container">
    <h2 class="title">Resume</h2>    
    <embed class="resume" src="../../assets/ResumeSkillMatch.pdf" type="application/pdf" width="100%" height="700px" />
</div>
