<section id="intro">
    <div class="main-banner">
        <div class="main-banner-info">
            <h1 class="name">Zachary Reiss</h1>
            <hr>
            <h3 class="statement">Software Engineer</h3>
            <div class="contact-container">
                <p>
                    LinkedIn Id:
                    <a href="https://www.linkedin.com/in/zachary-reiss-44ab23153/">Zachary Reiss</a>
                </p>
                <p>
                    Email:
                    <a href = "mailto: zachreisssoftwaredev@gmail.com">zachreisssoftwaredev@gmail.com</a>
                </p>
            </div>
        </div>
    </div>   
</section>
