.logo{
    text-align: center;
}
.tldr{
    text-align: center;
}
#heading{
    text-decoration: underline;
    text-align: center;
}
span{
    text-decoration: underline;
    font-weight: bold;
}
.important{
    font-weight: bold;
}
ul{
    margin-left: 2em;
}
.code-snippets{
    display: flex;
}
.response{
    text-align: center;
    margin-left: 3em;
}
.endpoint{
    text-align: center;
}
h4{
    text-decoration: underline;
}