
.resume-container{
    text-align: center;
    height: 100%;
    margin: 0em 4em 4em 4em;
}
.resume{
    display: inline-block;
    margin-top: 2em;
}
.title{
    text-align: center;
    text-decoration: underline;
}