/* You can add global styles to this file, and also import other style files */
.title{
  font-size: large;
}
.nav-text{
  text-decoration: none;
  color: white;
}
.nav-link{
  text-decoration: none;
}
.logo{
  text-align: center;
}
.container{
  margin: 0 15em 4em 15em;
  text-align: left;
}
.tldr{
  text-align: center;
}
#heading{
  text-decoration: underline;
  text-align: center;
}
span{
  text-decoration: underline;
  font-weight: bold;
}
.important{
  font-weight: bold;
}
ul{
  margin-left: 2em;
}
.code-snippets{
  display: flex;
  text-align: center;
}
h4{
  text-decoration: underline;
}
.code-snippet-heading{
  text-align: center;
}
.to-get-skill-container{
  margin: 0 5em 0 5em;
}
.heading{
    margin: 0 5em 0 5em;
}
code{
    background-color: #ededed;
}