/* You can add global styles to this file, and also import other style files */
.title{
  font-size: large;
}
.nav-text{
  text-decoration: none;
  color: white;
}
.nav-link{
  text-decoration: none;
}