<div class="container">
    <h1>Metric Monitoring</h1>
    <hr>
    <div class="logo">
        <img src="../../assets/metric-monitor-blog-photos/pexels-lorenzo-241544.jpg" alt="graph" style="width: 500px;">
    </div>
    <h3 id="heading">TL;DR</h3>
    <div class="tldr">
        <p><span>What:</span> An python application that utilizes pulp to solve complex optimization problems</p>
        <p><span>Why:</span> Use a tool to easily generate constraints, objective, and variables for any given optimization problem</p>
        <p><span>How:</span> Using Python, PulP, and Visual Studio Code</p>
    </div>
    <h3 id="heading">Introduction</h3>
    <div class="intro">
        
    </div>

    <h3 id="heading">Code Samples</h3>
    <div class="code">
        <p>
            Now that there is a basic understanding of the problem and solution lets look at some cool code samples!
        </p>
        <h4>Prometheus</h4>
        <p>
            Prometheus is really easy to setup. After adding the Prometheus Nuget Package, all I had to do was add the highlighted lines to my Startup.cs file
        </p>
        
        <p>
            What <span>app.UseHttpMetrics()</span> is doing is allowing Prometheus to start gather the default metrics for my API.
            Now All I needed to do was tell Prometheus which metrics to scrape from my Metrics API
        </p>
        <p>
            What these two code samples are doing is setting up a gauge with labels like the name, connection
            and severity level of any given monitor. Also, the <span>UpdateMetrics()</span> method is gathering all monitors and 
            and created gauges for them with appropriate labels.
        </p>

        <h4>Business Logic</h4>
        <p>
            The above code is is the logic behind getting individual metrics from any given monitor. For each monitor, I execute its
            query on the provided connection and return that value making sure it follows expectations like being of type double. This
            is all done concurrently to help reduce cost!
        </p>
        <p>
            This simply transforms the return metric value into a normalized value. What this means is that the new metric value
            is a percentage based on the monitors upper limit. This made grouping firing alerts a lot more simple in the end.
        </p>
    </div>

    <h3 id="heading">UI Demo</h3>
    <div class="ui">
        <p>
            Lets wrap things up with some photos of the UI
        </p>
        <div class="img">
            
        </div>
    </div>
</div>






