<div class="page">
    <h1>Blog Posts</h1>
    <hr>
</div>
<div class="blog-post-container">
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="ng-routing-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/Angular-logo.svg.png">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Angular Routing
                </h1>
            </div>
        </a>
    </div>
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="sipit-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/Sipit-blog-photos/SipitLogo.png">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Sipit Soda Shack
                </h1>
            </div>
        </a>
    </div>
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="tinkerjems-api-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/tinkerjems-blog-photos/tinkerJemsLogo.png">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Tinker Gems Jewelry - REST API
                </h1>
            </div>
        </a>
    </div>
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="sql-joins-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/sql-joins-blog-photos/CoverPhoto.png">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    SQL Joins - Ins & Outs
                </h1>
            </div>
        </a>
    </div>    
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="tdd-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/tdd-blog-photos/test-driven-development-TDD.png">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    TDD
                </h1>
            </div>
        </a>
    </div>  
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="db-organization-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/db-organization-photos/gears.jpg" alt="gears">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Database Organization - ERDs
                </h1>
            </div>
        </a>
    </div>
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="docker-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/docker-blog-photos/Logo-Docker.jpg" alt="docker logo">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Docker - Running local the easy way
                </h1>
            </div>
        </a>
    </div>
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="reactive-forms-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/reactive-forms-blog-photos/domino-effect.jpg" alt="dominos falling">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Angular Reactive Forms
                </h1>
            </div>
        </a>
    </div>
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="git-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/git-blog-photos/git-logo.png" alt="dgit logo">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Got git?
                </h1>
            </div>
        </a>
    </div>
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="django-api-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/django-api-blog-photos/Django-logo.svg.png" alt="dgit logo">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Django APIs
                </h1>
            </div>
        </a>
    </div>
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="django-postgres-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/django-postgres-blog-phtos/card-photo.png" alt="django postgres">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Django and Postgres
                </h1>
            </div>
        </a>                            
    </div>
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="xamarin-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/Xamarin-blog-photos/xamarin-logo.png" alt="xamarin logo">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Xamarin Recipe App
                </h1>
            </div>
        </a>
    </div>  
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="php-laravel-api" class="card clickable">
            <div class="card-img">
                <img src="../../assets/php-laravel-api-photos/php-logo.png" alt="php logo">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    PHP api using Laravel
                </h1>
            </div>
        </a>
    </div> 
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="elixir-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/elixir-blog-photos/Elixir logo.png" alt="elixir logo">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    The Wonders of Elixir
                </h1>
            </div>
        </a>
    </div> 
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="geo-lat-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/lat-long-blog-photos/globe.png" alt="globe">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Where in the world are you??
                </h1>
            </div>
        </a>
    </div>   
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="geolocation" class="card clickable">
            <div class="card-img">
                <img src="../../assets/geolocation-blog-photos/Target.png" alt="globe">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Geolocation
                </h1>
            </div>
        </a>
    </div>      
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="bash-script-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/bash-script-blog-photos/bash-logo.jpg" alt="bash logo">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Bash Automation
                </h1>
            </div>
        </a>
    </div>      
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="sudoku-solver-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/sudoku-solver-blog-photos/puzzle.jpg" alt="bash logo">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Sudoku Solver
                </h1>
            </div>
        </a>
    </div> 
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="scripting-madness-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/powershell-scrip-blog-photos/powershell-logo.png" alt="bash logo">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    POWER-shell
                </h1>
            </div>
        </a>
    </div> 
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="open-source-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/open-source-blog-post/logo.jpg" alt="bash logo">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Open Source For Days
                </h1>
            </div>
        </a>
    </div> 
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="metric-monitor-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/metric-monitor-blog-photos/pexels-lorenzo-241544.jpg" alt="graphs">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Metric Monitoring
                </h1>
            </div>
        </a>
    </div> 
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="first-program-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/first-program-blog-post/hello-world.jpg" alt="graphs">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Your First Program
                </h1>
            </div>
        </a>
    </div> 
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="pulp-python-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/pulp-python-blog-post/bluprints.jpg" alt="graphs">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    PuLP in Python
                </h1>
            </div>
        </a>
    </div> 
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="grafana-open-source-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/grafana-open-source-blog-post/grafana.png" alt="graphs">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Contribute to Open Source!
                </h1>
            </div>
        </a>
    </div>
     
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="python-dp-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/python-dp-blog-post/kruskal-algorithm.png" alt="graphs">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Dynamic Programming
                </h1>
            </div>
        </a>
    </div> 
</div>
