<h1 class="page">Blog Posts</h1>
<hr>
<div class="blog-post-container">
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="ng-routing-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/Angular-logo.svg.png">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Angular Routing
                </h1>
            </div>
        </a>
    </div>
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="sipit-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/Sipit-blog-photos/SipitLogo.png">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Sipit Soda Shack
                </h1>
            </div>
        </a>
    </div>
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="tinkerjems-api-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/tinkerjems-blog-photos/tinkerJemsLogo.png">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Tinker Gems Jewelry - REST API
                </h1>
            </div>
        </a>
    </div>
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="sql-joins-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/sql-joins-blog-photos/CoverPhoto.png">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    SQL Joins - Ins & Outs
                </h1>
            </div>
        </a>
    </div>    
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="tdd-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/tdd-blog-photos/test-driven-development-TDD.png">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    TDD
                </h1>
            </div>
        </a>
    </div>  
    <div id="blog-post" class="clr-col-lg-3 clr-col-12">
        <a href="db-organization-blog-post" class="card clickable">
            <div class="card-img">
                <img src="../../assets/db-organization-photos/gears.jpg" alt="gears">
            </div>
            <div class="card-block">
                <h1 class="card-text">
                    Database Organizatoin - ERDs
                </h1>
            </div>
        </a>
    </div>
</div>
